[data-type="advanced-bootstrap-blocks/form"] {
	padding: 0 !important;
	border: 1px dotted red;
	max-width: 100%;

	// .block-editor-inner-blocks>.block-editor-block-list__layout {
	// 	@include make-container();
	// 	padding-top: 15px;
	// 	padding-bottom: 15px;
	// }

	// .block-editor {
	// 	box-sizing: border-box !important;
	// }

	// &.block-editor-block-list__block {
	// 	padding: 0;

	// 	&.wp-block.container-fluid {
	// 		max-width: 100%;
	// 	}
	// }

	// .block-editor-block-list__block {
	// 	// margin: 0;
	// 	padding: 0 !important;
	// 	max-width: 100%;
	// 	width: 100%;
	// }
}

// [data-type="advanced-bootstrap-blocks/form"] {
// 	>.block-editor-block-list__block-edit {
// 		padding: 0 !important;
// 		margin: 0 !important;
// 		// width: 100%; 
// 		// max-width: 100%; 
// 	}

// 	>.container,
// 	>.container-fluid {
// 		>[data-block] {
// 			margin-top: 0;
// 			margin-bottom: 0;
// 		}
// 	}
// }

// [data-type="advanced-bootstrap-blocks/form"] {
// 	max-width: 100%;
// 	width: 100%;
// 	padding: 0;

// 	.block-editor-block-list__block-edit {
// 		padding: 0 !important;
// 		margin: 0 !important;
// 		width: 100%;
// 		max-width: 100%;

// 		>[data-block] {
// 			margin: 0;
// 		}
// 	}

// 	>div:not(.block-editor-block-list__block-edit) {
// 		width: 100%;
// 	}

// 	>.block-editor-block-list__block-edit>[data-block]>div,
// 	// 5.2
// 	>div:not(.block-editor-block-list__block-edit):not(.block-editor-block-list__insertion-point) {
// 		// 5.3+
// 		border: 1px solid #ccc; // orange;

// 		>.block-editor-inner-blocks>.block-editor-block-list__layout {
// 			@include make-row();
// 			margin-left: 0 !important;
// 			margin-right: 0 !important;

// 			>.block-list-appender {
// 				&:not(:first-child) {
// 					position: absolute;
// 					top: 8px;
// 					right: 8px;
// 				}

// 				outline: none;

// 				.block-list-appender__toggle {
// 					padding: 8px;
// 					// border: 0;
// 					outline: 0;

// 					&:focus {
// 						outline: 1px solid;
// 					}
// 				}
// 			}
// 		}
// 	}
// }